body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: aquamarine;
}

.container {
   margin-bottom: 40vh;
   width : 65vw;
   padding: 2em;
   background-color: #fff;
}

[type = "checkbox"] {
   opacity: 0;

}

[type = "checkbox"] + label {
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   display: inline-block;
   color: grey;
   line-height: 25px;

}

[type = "checkbox"] + label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 18px;
   height: 18px;
   outline: 2px solid #aaa;
   background-color: #fff;
}


[type = "checkbox"] + label::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 18px;
   height: 18px;
   outline: 2px solid #5fd25f;
   background-color: #fff;
}